GEMINI_API_KEY=
VITE_GEMINI_API_KEY=
APP_URL=https://ais-dev-ofrlazz3mwlgxphzlxybbd-544681738605.asia-southeast1.run.app
VITE_APP_URL=https://ais-dev-ofrlazz3mwlgxphzlxybbd-544681738605.asia-southeast1.run.app
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
